# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from .raw_client import AsyncRawFilesClient, RawFilesClient

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class FilesClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawFilesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawFilesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawFilesClient
        """
        return self._raw_client

    def download_file(
        self, *, path: str, access_token: str, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Iterator[bytes]:
        """
        Streams the file at `path` from the sandbox as `application/octet-stream`.
        Uses the same per-sandbox access token as upload.

        Parameters
        ----------
        path : str
            Absolute file path inside the sandbox. Must start with `/` and
            must not contain `..` segments.

        access_token : str
            Per-sandbox HMAC access token. Take this from
            `SandboxResponse.access_token` on the sandbox you're reading from.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration. You can pass in configuration such as `chunk_size`, and more to customize the request and response.

        Returns
        -------
        typing.Iterator[bytes]
            File contents

        Examples
        --------
        from superserve import Superserve

        client = Superserve(
            api_key="YOUR_API_KEY",
        )
        client.files.download_file(
            access_token="sb_token_from_sandbox_response",
            path="/home/user/data.txt",
        )
        """
        with self._raw_client.download_file(path=path, access_token=access_token, request_options=request_options) as r:
            yield from r.data

    def upload_file(
        self,
        *,
        path: str,
        request: typing.Union[bytes, typing.Iterator[bytes], typing.AsyncIterator[bytes]],
        request_options: typing.Optional[RequestOptions] = None,
    ) -> None:
        """
        Uploads raw file bytes to an absolute path inside the sandbox. The
        body is sent as `application/octet-stream` — the entire request body
        is the file contents.

        Authentication uses the per-sandbox access token from
        `SandboxResponse.access_token`, passed in the `X-Access-Token` header.
        This is distinct from the control-plane `X-API-Key`.

        Parameters
        ----------
        path : str
            Absolute destination path inside the sandbox. Must start with `/`
            and must not contain `..` segments.

        request : typing.Union[bytes, typing.Iterator[bytes], typing.AsyncIterator[bytes]]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        from superserve import Superserve

        client = Superserve(
            api_key="YOUR_API_KEY",
        )
        client.files.upload_file(
            path="/home/user/data.txt",
        )
        """
        _response = self._raw_client.upload_file(path=path, request=request, request_options=request_options)
        return _response.data


class AsyncFilesClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawFilesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawFilesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawFilesClient
        """
        return self._raw_client

    async def download_file(
        self, *, path: str, access_token: str, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.AsyncIterator[bytes]:
        """
        Streams the file at `path` from the sandbox as `application/octet-stream`.
        Uses the same per-sandbox access token as upload.

        Parameters
        ----------
        path : str
            Absolute file path inside the sandbox. Must start with `/` and
            must not contain `..` segments.

        access_token : str
            Per-sandbox HMAC access token. Take this from
            `SandboxResponse.access_token` on the sandbox you're reading from.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration. You can pass in configuration such as `chunk_size`, and more to customize the request and response.

        Returns
        -------
        typing.AsyncIterator[bytes]
            File contents

        Examples
        --------
        import asyncio

        from superserve import AsyncSuperserve

        client = AsyncSuperserve(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.files.download_file(
                access_token="sb_token_from_sandbox_response",
                path="/home/user/data.txt",
            )


        asyncio.run(main())
        """
        async with self._raw_client.download_file(
            path=path, access_token=access_token, request_options=request_options
        ) as r:
            async for _chunk in r.data:
                yield _chunk

    async def upload_file(
        self,
        *,
        path: str,
        request: typing.Union[bytes, typing.Iterator[bytes], typing.AsyncIterator[bytes]],
        request_options: typing.Optional[RequestOptions] = None,
    ) -> None:
        """
        Uploads raw file bytes to an absolute path inside the sandbox. The
        body is sent as `application/octet-stream` — the entire request body
        is the file contents.

        Authentication uses the per-sandbox access token from
        `SandboxResponse.access_token`, passed in the `X-Access-Token` header.
        This is distinct from the control-plane `X-API-Key`.

        Parameters
        ----------
        path : str
            Absolute destination path inside the sandbox. Must start with `/`
            and must not contain `..` segments.

        request : typing.Union[bytes, typing.Iterator[bytes], typing.AsyncIterator[bytes]]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        import asyncio

        from superserve import AsyncSuperserve

        client = AsyncSuperserve(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.files.upload_file(
                path="/home/user/data.txt",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.upload_file(path=path, request=request, request_options=request_options)
        return _response.data
