// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Superserve from "../../../index.js";

export declare namespace ExecClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ExecClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ExecClient.Options>;

    constructor(options: ExecClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Runs a command inside the sandbox and waits for it to finish, returning
     * stdout, stderr, and exit code. Idle sandboxes are automatically resumed
     * before execution.
     *
     * @param {Superserve.ExecCommandRequest} request
     * @param {ExecClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Superserve.UnauthorizedError}
     * @throws {@link Superserve.NotFoundError}
     * @throws {@link Superserve.ConflictError}
     * @throws {@link Superserve.InternalServerError}
     *
     * @example
     *     await client.exec.command({
     *         sandbox_id: "sandbox_id",
     *         body: {
     *             command: "command"
     *         }
     *     })
     */
    public command(
        request: Superserve.ExecCommandRequest,
        requestOptions?: ExecClient.RequestOptions,
    ): core.HttpResponsePromise<Superserve.ExecResult> {
        return core.HttpResponsePromise.fromPromise(this.__command(request, requestOptions));
    }

    private async __command(
        request: Superserve.ExecCommandRequest,
        requestOptions?: ExecClient.RequestOptions,
    ): Promise<core.WithRawResponse<Superserve.ExecResult>> {
        const { sandbox_id: sandboxId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.SuperserveEnvironment.Production
                    ).base,
                `sandboxes/${core.url.encodePathParam(sandboxId)}/exec`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Superserve.ExecResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Superserve.UnauthorizedError(
                        _response.error.body as Superserve.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Superserve.NotFoundError(
                        _response.error.body as Superserve.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Superserve.ConflictError(
                        _response.error.body as Superserve.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Superserve.InternalServerError(
                        _response.error.body as Superserve.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuperserveError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/sandboxes/{sandbox_id}/exec");
    }

    /**
     * Runs a command and streams stdout/stderr chunks as Server-Sent Events.
     * Each event is a JSON payload. The final event includes `exit_code` and
     * `finished: true`. Idle sandboxes are automatically resumed before execution.
     */
    public commandStream(
        request: Superserve.ExecCommandStreamRequest,
        requestOptions?: ExecClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<Superserve.ExecStreamEvent>> {
        return core.HttpResponsePromise.fromPromise(this.__commandStream(request, requestOptions));
    }

    private async __commandStream(
        request: Superserve.ExecCommandStreamRequest,
        requestOptions?: ExecClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<Superserve.ExecStreamEvent>>> {
        const { sandbox_id: sandboxId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.SuperserveEnvironment.Production
                    ).base,
                `sandboxes/${core.url.encodePathParam(sandboxId)}/exec/stream`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            responseType: "sse",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: (data) => data as any,
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "sse",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Superserve.UnauthorizedError(
                        _response.error.body as Superserve.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Superserve.NotFoundError(
                        _response.error.body as Superserve.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Superserve.ConflictError(
                        _response.error.body as Superserve.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Superserve.InternalServerError(
                        _response.error.body as Superserve.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuperserveError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/sandboxes/{sandbox_id}/exec/stream",
        );
    }
}
