// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Superserve from "../../../index.js";

export declare namespace FilesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FilesClient {
    protected readonly _options: NormalizedClientOptions<FilesClient.Options>;

    constructor(options: FilesClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Streams the file at `path` from the sandbox as `application/octet-stream`.
     * Uses the same per-sandbox access token as upload.
     *
     * @throws {@link Superserve.UnauthorizedError}
     * @throws {@link Superserve.NotFoundError}
     */
    public downloadFile(
        request: Superserve.DownloadFileRequest,
        requestOptions?: FilesClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__downloadFile(request, requestOptions));
    }

    private async __downloadFile(
        request: Superserve.DownloadFileRequest,
        requestOptions?: FilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { path, "X-Access-Token": accessToken } = request;
        const _queryParams: Record<string, unknown> = {
            path,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Access-Token": accessToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.SuperserveEnvironment.Production
                    ).sandboxDataPlane,
                "files",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Superserve.UnauthorizedError(
                        _response.error.body as Superserve.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Superserve.NotFoundError(
                        _response.error.body as Superserve.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuperserveError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/files");
    }

    /**
     * Uploads raw file bytes to an absolute path inside the sandbox. The
     * body is sent as `application/octet-stream` — the entire request body
     * is the file contents.
     *
     * Authentication uses the per-sandbox access token from
     * `SandboxResponse.access_token`, passed in the `X-Access-Token` header.
     * This is distinct from the control-plane `X-API-Key`.
     *
     * @param {core.file.Uploadable} uploadable
     * @param {Superserve.UploadFileRequest} request
     * @param {FilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Superserve.BadRequestError}
     * @throws {@link Superserve.UnauthorizedError}
     * @throws {@link Superserve.NotFoundError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.files.uploadFile(createReadStream("path/to/file"), {
     *         path: "/home/user/data.txt"
     *     })
     */
    public uploadFile(
        uploadable: core.file.Uploadable,
        request: Superserve.UploadFileRequest,
        requestOptions?: FilesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__uploadFile(uploadable, request, requestOptions));
    }

    private async __uploadFile(
        uploadable: core.file.Uploadable,
        request: Superserve.UploadFileRequest,
        requestOptions?: FilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _queryParams: Record<string, unknown> = {
            path: request.path,
        };
        const _binaryUploadRequest = await core.file.toBinaryUploadRequest(uploadable);
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            _binaryUploadRequest.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.SuperserveEnvironment.Production
                    ).sandboxDataPlane,
                "files",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/octet-stream",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "bytes",
            duplex: "half",
            body: _binaryUploadRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Superserve.BadRequestError(
                        _response.error.body as Superserve.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Superserve.UnauthorizedError(
                        _response.error.body as Superserve.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Superserve.NotFoundError(
                        _response.error.body as Superserve.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SuperserveError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/files");
    }
}
